<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767976309631-3roqtbncbd5jd6vbgu7v29fp60ktbgb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767976309631-3roqtbncbd5jd6vbgu7v29fp60ktbgb2</string>
	<key>API_KEY</key>
	<string>AIzaSyDpfYNOqI6xWRE-LCYSvx5vVy5bw_JtVS8</string>
	<key>GCM_SENDER_ID</key>
	<string>767976309631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hsl.SimpleChat</string>
	<key>PROJECT_ID</key>
	<string>simplechat-c526d</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechat-c526d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767976309631:ios:16046bc15e21d91159104a</string>
</dict>
</plist>